body {
    margin: 20px auto auto auto;
}

div#search{
    text-align: center;
    }

#results .icon-ok{
    color: green;
}

#results .icon-plus{
    color: red;
    }

#results .icon-plus:hover{
    color: green;
    }

.navbar i{
    font-size: 1.2em;
    vertical-align: middle;
}

#overlay{
    text-align: center;
    margin-top: 200px;
    }