body {
    margin: 20px auto auto auto;
}

div#search{
    text-align: center;
    }

#results .icon-ok{
    color: green;
}

#results .add {
    color: red;
    font-size: 1.4em;
    }

#results .add:hover{
    color: green;
    text-decoration: none;
    }

#results .del {
    color: green;
    font-size: 1.4em;
    }

#results .del:hover{
    color: red;
    text-decoration: none;
    }

.navbar i{
    font-size: 1.2em;
    vertical-align: middle;
}

#overlay{
    text-align: center;
    margin-top: 200px;
    }

.register_login{
    width:60%;
    margin:70px auto auto auto;
}

.result{
    max-width: 250px;
    max-height: 150px;
    }

.media-heading{
    display: inline;
    }

.icon-plus-sign{
    font-size: 1.4em;
    color: green;
    }

.icon-minus-sign{
    font-size: 1.4em;
    color: red;
    }

#uc_add, .uc_del{
    cursor: pointer;
    }