<!DOCTYPE HTML>
<html>
	<head> 
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js" ></script>
		<script type="text/javascript" src="/media/js/bootstrap.min.js"></script>
		<link href="/media/css/bootstrap.min.css" rel="stylesheet" media="screen" />
		<link rel="stylesheet" href="media/css/font-awesome.css" />
		<link type="text/css" rel="stylesheet" href="/media/css/style.css" media="screen"/>

		<title>MovieMongo</title>

		{% block extra_head %}{% endblock %}
	</head>

	<body>
	  <div class="container">
	  <div class="navbar">
	    <div class="navbar-inner">
              <div class="container row-fluid">
		<span class="span4 brand">
		  <i class="icon-film"></i>
		  <span style="color:#fba53b">Movie</span><span style="color:#3c91fa">Mongo</span>
		</span>
		<div class="span4">
		{% block navbar_extra %}{% endblock %}
		</div>
		<div class="span4 nav-collapse collapse">
		  <ul class="nav pull-right">
		    {% if user %}
		    <li><a href="#" title="Profile"><i class="icon-user"></i>{{user}}</a></li>
		    <li><a href="/logout">Logout</a></li>
		    {% endif %}
		  </ul>
		</div>
              </div>
	    </div>

	  </div>
	  <div >
		{% block content %} {% endblock %}	
	  </div>
	  </div>
	</body>

</html>
