{% extends "base.html" %}

{% block extra_head %}
  <script type="text/javascript">
  $().ready(function(){
    $.ajax({
      url: document.URL,//"http://localhost:8080/The%20matrix",
      headers: {Accept:"application/json"},
      success: function(data){
	console.log(data);
	$("#results").append(format_details(data));
      }
    });
  });
  </script>
{% endblock %}

{% block navbar_extra %}
<ul class="breadcrumb">
  <li><a href="/"><i class="icon-home"></i>Home</a> <span class="divider">/</span></li>
  <li class="active">Details</li>
</ul>
{% endblock %}

{% block content %}
  <div id="results">
  </div>
{% endblock %}
