{% extends "base.html" %}

{% block navbar_extra %}
<ul class="breadcrumb">
  <li><a href="/"><i class="icon-home"></i>Home</a> <span class="divider">/</span></li>
  <li class="active">Details</li>
</ul>
{% endblock %}

{% block content %}
  <script type="text/javascript">
  $().ready(function(){
    $.ajax({
      url: document.URL,//"http://localhost:8080/The%20matrix",
      headers: {Accept:"application/json"},
      success: function(data){
	console.log(data);
	//res = data.result[0];
	$("#details").append(format_result(data));
      }
    });
  });


  function add_movie(source, id){
    console.log(source+id);
    $.ajax({
      url: "http://localhost:8080/"+source,
      type: "POST",
      data: {id: id},
      success: function(data){
	console.log("success");
      }
    });
  }

function format_result(result){
  img_url = result.img_url ? result.img_url : "http://placehold.it/250x150";
  status = result.my_movie === true ? "V" : "<a href='#' id='add_movie' onclick=\"add_movie(\'"+result.source+"\',\'"+result.id+"\')\">Add</a>";
  
  out = "<div class='media-body thumbnail'>"
    + "  <a class='pull-left' href='/"+result.source+"?id="+result.id+"'>"
    + "    <img class='media-object result' src='" + img_url + "' /> "
    + "  </a>"
    + "  <h3 class='media-heading'>"+result.name+"</h3>"
    + status
    + "  <dl class='dl-horizontal' style='margin-top:50px'>"
    + "  <dt>Source:</dt><dd>" + result.source + "</dd>";
  out += result.actors.length > 0 ? "<dt>actors:</dt><dd>" + result.actors + "</dd>" : "";
  out += result.directed_by.length > 0 ? "<dt>directed_by:</dt><dd>" + result.directed_by + "</dd>" : "";
  out += result.genre.length > 0 ? "<dt>genre:</dt><dd>" + result.genre + "</dd>" : "";
  out += result.initial_release_date ? "  <dt>released:</dt><dd>" + result.initial_release_date + "</dd>" : "";
  out += result.written_by.length > 0 ? "<dt>written by:</dt><dd>" + result.written_by + "</dd>" : "";
  out += "</dl></div>";
  return out;
  }
  </script>
  <div id="details">
    
  </div>
{% endblock %}
