{% extends "base.html" %}

{% block content %}
<div id="search">
  <input type="text" name="search" class="input-xlarge" value="Search movie.." />
  <button class="btn">My Movies</button>
</div>

<div class="results">
  <ul class="media-list">
    <li class="media thumbnail">
      <a class="pull-left" href="#">
	<img class="media-object" src="http://placehold.it/250x150" />
      </a>
      <div class="media-body">
	<h3 class="media-heading">The Matrix<i class="icon-ok"></i></h3>
	<p>The Matrix is a 1999 American science fiction action film written and directed by Larry and Andy Wachowski.</p>
      </div>
    </li>
    <li class="media thumbnail">
      <a class="pull-left" href="#">
	<img class="media-object" src="http://placehold.it/250x150" />
      </a>
      <div class="media-body">
	<h3 class="media-heading">Example<i class="icon-plus"></i></h3>
	<p>The Matrix is a 1999 American science fiction action film written and directed by Larry and Andy Wachowski.</p>
      </div>
    </li>
    <li class="media thumbnail">
      <a class="pull-left" href="#">
	<img class="media-object" src="http://placehold.it/250x150" />
      </a>
      <div class="media-body">
	<h3 class="media-heading">Example<i class="icon-plus"></i></h3>
	<p>The Matrix is a 1999 American science fiction action film written and directed by Larry and Andy Wachowski.</p>
      </div>
    </li>
    <li class="media thumbnail">
      <a class="pull-left" href="#">
	<img class="media-object" src="http://placehold.it/250x150" />
      </a>
      <div class="media-body">
	<h3 class="media-heading">Example<i class="icon-plus"></i></h3>
	<p>The Matrix is a 1999 American science fiction action film written and directed by Larry and Andy Wachowski.</p>
      </div>
    </li>
    
  </ul>
</div>
{% endblock %}
