{% extends "base.html" %}

{% block extra_head %}
  <script type="text/javascript">
  $(document).ready(function(){
    
    $("#info").popover({
      html: true,
      placement: "bottom",
      title: "Help",
      content: "The searchbar provides some special keywords.<br/>"
	+ "Supported keywords are: <code>actor</code>, <code>director</code>, <code>year</code>.<br/>"
	+ "You can use it like this: 'actor:Paul' searches for all "
	+ "movies in <strong>your collection</strong> that provides "
	+ "an actor with a name like 'Paul'.",
      trigger: 'hover'
    });
        
    $(this).ajaxStart(function(){
      $("#results").empty();
      $("#results").before("<div id='overlay'><img src='/media/img/ajax-loader.gif' /></div>");
    });

    $(this).ajaxStop(function(){
      $("#overlay").remove();
    });
    
    $("#search").submit(function(event){
      event.preventDefault();
      $.ajax({
	url: "http://localhost:8080/",
	data: {search: $("#searchterm").val()},
	success: function(data){
	  data = jQuery.parseJSON(data);
	  console.log(data);
	  if (data.result.length == 0)
	    $("#results").append("<div class='well well-small'><p class='lead'><i class='icon-warning-sign'></i> no results</p></div>");
	  else{
	    $("#results").append("<ul class='media-list'>");
	    for (result in data.result){
	      media_res = format_result(data.result[result]);
	      $("#results ul.media-list").append(media_res);
	    }
	  }
	}
      });
    });
    
    $("#mymovies").click(function(event){
      $("#searchterm").val("");
      get_my_movies();
    });
    
    function get_my_movies(){
      $.ajax({
	url: "http://localhost:8080/",
	headers: {Accept:"application/json"},
	success: function(data){
	  data = jQuery.parseJSON(data);
	  if (data.length == 0)
	    $("#results").append("<div class='well well-small'><p class='lead'><i class='icon-warning-sign'></i> you have no films in your collection</p></div>");
	  else{
	    $("#results").append("<ul class='media-list'>");
	    for (result in data){
	      media_res = format_result(data[result]);
	      $("#results ul.media-list").append(media_res);
	    }
	  }
	}
      });
    }

    get_my_movies();
  });
  </script>
{% endblock %}

{% block navbar_extra %}
<div class="btn-group input-append">
  <button class="btn" id="mymovies" title="My movies"><i class="icon-home"></i></button>&nbsp;
  <form id="search" class="navbar-form" style="display:inline">
    <div class="btn-group input-append" style="display:inline;margin-left:10px;">
      <input type="text" id="searchterm" class="xxlarge" placeholder="Search for movie..." />
      <button type="submit" class="btn btn-success">
	<i class="icon-search"></i>
      </button>
    </div>
  </form>
</div>
<i id="info" class="icon-info-sign" style="color:blue;font-size:1.4em"></i>

{% endblock %}

{% block content %}
<div id="results">
</div>
{% endblock %}
