{% extends "base.html" %}

{% block extra_head %}
  <script type="text/javascript">
  $(document).ready(function(){
        
    $(this).ajaxStart(function(){
      $("#results").empty();
      $("#results").before("<div id='overlay'><img src='/media/img/ajax-loader.gif' /></div>");
    });

    $(this).ajaxStop(function(){
      $("#overlay").remove();
    });
    
    $("#search").submit(function(event){
      event.preventDefault();
      $.ajax({
	url: "http://localhost:8080/",
	data: {search: $("#searchterm").val()},
	success: function(data){
	  console.log(data);
	  if (data.result.length == 0)
	    $("#results").append("<h2>no results</h2>");
	  else{
	    $("#results").append("<ul class='media-list'>");
	    for (result in data.result){
	      media_res = format_result(data.result[result]);
	      $("#results ul.media-list").append(media_res);
	    }
	  }
	}
      });
    });
    
    $("#mymovies").click(function(event){
      $("#searchterm").val("");
      get_my_movies();
    });
    
    function format_result(result, my_movie){
      img_url = result.img_url ? result.img_url : "http://placehold.it/250x150";
      url = result._id.$oid;//source+"?id="+result.id;
      
      if (result.my_movie === true)
	status = "<a href='#' id='del_movie' title='Remove movie from collection' onclick=\"del_movie(\'"+result._id.$oid+"\',event)\">"
	       +   "<i class='icon-check del'></i>"
               + "</a>";
      else
	status = "<a href='#' id='add_movie' title='Add movie to collection' onclick=\"add_movie(\'"+result._id.$oid+"\',event)\">"
               +   "<i class='icon-check add'></i>"
               + "</a>";
      
      return "<li class='media thumbnail'>"
	+ "<div class='media-body'>"
	+ "  <a class='pull-left' href='/"+url+"'>"
	+ "    <img class='media-object result' src='" + img_url + "' /> "
	+ "  </a>"
	+ "  <a href='/"+url+"'><h3 class='media-heading'>"+result.name+"</h3></a>&nbsp;"
	+ status
        + "  <p>Source: " + result.source + "</p>"
	+ "</div>"
	+ "</li>";
    }

    function get_my_movies(){
      $.ajax({
	url: "http://localhost:8080/",
	headers: {Accept:"application/json"},
	success: function(data){
	  data = jQuery.parseJSON(data);
	  if (data.length == 0)
	    $("#results").append("<h2>you have no films in your collection</h2>");
	  else{
	    $("#results").append("<ul class='media-list'>");
	    for (result in data){
	      media_res = format_result(data[result]);
	      $("#results ul.media-list").append(media_res);
	    }
	  }
	}
      });
    }

    get_my_movies();
  });

  function add_movie(id, event){
    console.log(event);
    event.preventDefault();
    console.log(id);
    $.ajax({
      url: "http://localhost:8080/",
      type: "POST",
      data: {id: id},
      success: function(data){
	$("#add_movie i").removeClass("add").addClass("del");
	console.log("success");
      }
    });
  }

  function del_movie(id, event){
    console.log(event);
    event.preventDefault();
    console.log(id);
    $.ajax({
      url: "http://localhost:8080/",
      type: "DELETE",
      data: {id: id},
      success: function(data){
	$("#add_movie i").removeClass("del").addClass("add");
	console.log("success");
      }
    });
  }

  </script>
{% endblock %}

{% block navbar_extra %}
<div class="btn-group input-append">
  <button class="btn" id="mymovies" title="My movies"><i class="icon-home"></i></button>&nbsp;
  <form id="search" class="navbar-form" style="display:inline">
    <div class="btn-group input-append" style="display:inline;margin-left:10px;">
      <input type="text" id="searchterm" class="xxlarge" placeholder="Search for movie..." />
      <button type="submit" class="btn btn-success">
	<i class="icon-search"></i>
      </button>
    </div>
  </form>
</div>

{% endblock %}

{% block content %}
<div id="results">
</div>
{% endblock %}
